/* Imagen de fondo en el área de inicio */
.imagen {
    background-image: url('/imagenes/fondo-inicio-removebg-preview.png');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Alinear la sección de "Préstamos de libros" */
.Prestamista {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.container-prestamos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45%;
}

.container-entrega {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45%;
}

.entradas {
    margin: 10px 0;
}

button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
